# Gradle files
.gradle/
build/
**/build/

# Gradle Wrapper
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# IDE files
.idea/
*.iml
*.ipr
*.iws

# OS-specific files
.DS_Store
Thumbs.db
*.class

# Log files
*.log

# Temporary files
*.tmp
*.temp

# Other environment-specific files
.env
